$icon-font-path: "../vender/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../vender/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$brand: #1386A0;

body {
    padding-top: 70px;
    background: #f9f9fa;
}

.navbar {
    &.navbar-default {
        .navbar-brand {
            color: $brand;
        }

        .navbar-nav {
            > .active > a {
                color: $brand;
            }

            > li > a {
                color: $brand;
            }
        }
    }
}

.list-group-host {
    .list-group-item {
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        float: left;
        height: auto;
        padding: 16px;
        border-top: 1px solid #EEE;
        -webkit-box-shadow: 0 1px 0 #fff inset;
        box-shadow: 0 1px 0 #fff inset;
        position: relative;

        .host-row-pic {
            -webkit-box-shadow: rgba(0,0,0,.05) 0 1px 4px;
            box-shadow: rgba(0,0,0,.05) 0 1px 4px;
            width: 37px;
            height: 37px;
            line-height: 35px;
            vertical-align: middle;
            border-radius: 4px;
            overflow: hidden;
            border-bottom: 1px solid #EEE;
            border-right: 1px solid #e9eaec;
            border-left: 1px solid #e9eaec;
            border-top: 1px solid #F7F8F9;
            float: left;
            cursor: pointer;
            margin-right: 11px;

            img {
                max-height: 37px;
                max-width: 37px;
                min-height: inherit;
                width: 100%;
                border: none;
                padding: 0;
            }
        }

        .header-info {
            float: left;
            cursor: pointer;
            width: 90%;
        }

        .browse-table-row-name {
            float: left;
            line-height: 1.5em;
            font-size: 16px;
            margin-right: 8px;
            margin-top: -2px;
        }

        .tagline {
            font-size: 14px;
            font-weight: 400;
            color: #666;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .tag-row {
            float: left;
            margin-top: 4px;

            .tag {
                float: left;
                font-size: 12px;
                color: #aaa;
                margin-right: 24px;
                font-weight: 400;
                width: 140px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
